# Node.js (Frontend)
frontend/node_modules/
frontend/.env
frontend/.next
frontend/dist
frontend/build
frontend/.parcel-cache
frontend/.DS_Store

# Python (Backend)
backend/__pycache__/
backend/env/
backend/venv/
backend/.env
backend/.DS_Store

# General
*.log
*.pyc
*.pyo
*.swp
*.swo
.env
.DS_Store
~$ctorShift - Frontend Technical Assessment Instructions.docx
VectorShift - Frontend Technical Assessment Instructions.pdf